.gauge-container {
    display: flex;
    justify-content: center;
    /* Centers child horizontally */
    width: 95vw;
    height: 180px;
    /* Cut roughly in half to remove blank bottom canvas margins */
}