.gauge-container {
    display: flex;
    justify-content: center;
    /* Centers child horizontally */
    width: 95vw;
    height: 180px;
    margin-top: -30px; /* Pulls the container up into the view */
    /* Cut roughly in half to remove blank bottom canvas margins */
}